@font-face {
    font-family: 'Century Gothic';
    src: url('./fonts/CenturyGothic.eot');
    src: url('./fonts/CenturyGothic.woff') format('woff'),
    url('./fonts/CenturyGothic.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('./fonts/CenturyGothic-Bold.eot');
    src: url('./fonts/CenturyGothic-Bold.woff') format('woff'),
    url('./fonts/CenturyGothic-Bold.ttf') format('truetype');

    font-weight: bold;
    font-style: normal;
}

:root {
    --color-background: #323652;
    --color-primary: #454A74;
    --color-text: #fff;
    --color-hide-text: #929292;
    --color-border-block: #323761;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--color-background);
    font-family: 'Century Gothic';
    color: var(--color-text);
}

.header {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 20px;
    width: 100%;
    height: 70px;
    background-color: var(--color-primary);
    box-shadow: -4px 4px 4px rgba(34, 36, 55, 0.25);
}

.header__search {
    max-width: 40px;
    max-height: 40px;
    margin: 0 20px;
}

.header__search img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.logo {
    transition: 0.5s;
    font-size: 32px;
    cursor: pointer;
}

.logo__first {
    font-weight: bold;
}

.logo__second {
    font-weight: normal;
}

#searchInput {
    display: none;
    width: 0px;
    height: 40px;
    margin: 0 15px;
    background-color: transparent;
    border: 3px solid var(--color-text);
    color: var(--color-text);
    font-size: 22px;
    outline: none;
}

#searchInput::placeholder {
    color: var(--color-text);
    opacity: 0.7;
}

.options {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 70px;
    height: 100%;
    background-color: var(--color-primary);
    box-shadow: 4px 0px 4px rgba(34, 36, 55, 0.25);
}

.burger-elem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 60px;
    margin-top: 10px;
    cursor: pointer;
}

.burger-elem__elem {
    width: 40px;
    height: 5px;
    background-color: var(--color-text);
    margin-bottom: 5px;
}

.settings {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
}

.settings__theme {
    margin-top: 100px;
}

.theme {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.theme__title {
    font-size: 22px;
    margin-right: 15px;
}

.theme__icon {
    max-width: 50px;
    max-height: 50px;
    cursor: pointer;
}

.theme__icon img {
    width: 100%;
    height: 100%;
}

#darkTheme {
    display: none;
}

.settings__filter {
    margin-top: 40px;
}

.filter {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.filter__title {
    font-size: 26px;
}

.filter__film {
    margin-top: 20px;
}

.film__title-text {
    font-size: 22px;
}

.film__title {
    width: 200px;
    border-bottom: 2px solid var(--color-text);
    margin-bottom: 15px;
    padding-bottom: 5px;
}

.film__select {
    background-color: transparent;
    color: var(--color-text);
    border: 2px solid var(--color-text);
    width: 200px;
    height: 30px;
    outline: none;
}

.film__select option {
    background-color: var(--color-background);
}

.filter__person-status {
    margin-top: 20px;
}

.person-status__title {
    width: 200px;
    border-bottom: 2px solid var(--color-text);
    margin-bottom: 15px;
    padding-bottom: 5px;
}

.person-status__title-text {
    font-size: 22px;
}

.person-status__form {
    display: flex;
    flex-direction: column;
}

.form__status {
    font-size: 19px;
}

.form__status input {
    display: none;
}

.form__status label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 0px;
    line-height: 30px;
    user-select: none;
}

.form__status label::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    position: absolute;
    left: 0;
    bottom: 7px;
    background-color: var(--color-text);
    border-radius: 15px;
}

.form__status input:checked + label:before {
    transition: 0.3s;
	background-color: var(--color-border-block);
}

.filter__button {
    margin-top: 30px;
    width: 150px;
    height: 40px;
    font-size: 20px;
    background-color: transparent;
    border: 2px solid var(--color-text);
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.filter__button:hover {
    transition: 0.8s;
    background-color: var(--color-text);
    color: var(--color-primary);
}

.reset__button {
    margin-top: 30px;
    width: 150px;
    height: 40px;
    font-size: 20px;
    background-color: transparent;
    border: 2px solid var(--color-text);
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.reset__button:hover {
    transition: 0.8s;
    background-color: var(--color-text);
    color: var(--color-primary);
}

.content {
    padding-left: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 100px;
}

/* filter: blur(5px) */

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 330px;
    height: 520px;
    background-color: var(--color-primary);
    margin: 20px;
    padding: 15px;
    justify-content: flex-start;
    align-items: flex-start;
    filter: drop-shadow(4px 4px 7px rgba(0, 0, 0, 0.25));
}

.card__heading {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.heading__title {
    text-align: center;
}

.title__name {
    font-size: 20px;
    font-weight: bold;
}

.heading__img {
    width: 85px;
    height: 90px;
    margin-right: 30px;
    filter: drop-shadow(4px 4px 9px rgba(0, 0, 0, 0.25));
}

.heading__img img {
    width: 100%;
    height: 100%;
    border-radius: 76px;
    object-fit: cover;
}

.title__real-name {
    color: var(--color-hide-text);
    margin-top: 10px;
    margin-left: -15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 185px;
    height: 40px;
    background-color: var(--color-border-block);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 5px;
}

.card__more-info {
    font-weight: bold;
}

.card__live-status {
    font-weight: bold;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 20px;
    margin-left: -10px;
}

.card__live-status img {
    width: 70px;
    height: 70px;
}

.card__border {
    position: absolute;
    top: 43%;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--color-border-block);
    box-shadow: 0px 0.2px 3px rgba(0, 0, 0, 0.25);
}

.card__actor-title {
    font-weight: bold;
    margin-top: 30px;
    font-size: 18px;
}

.card__actor-name {
    margin-top: 5px;
    font-size: 16px;
}

.card__movies-title {
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
}

.movies-list {
    padding: 0;
    list-style: none;
}

.movies-list li::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: var(--color-border-block);
    margin-right: 10px;
}